<h1>Homes#show</h1>
<p>Find me in app/views/homes/show.html.erb</p>

제목: <%= @post.title %> <br>
내용: <%= @post.content %> <br>
작성자: <%= @post.writer %> <br>
비밀번호: <%= @post.password %> <br>

<a href="/homes/index"> 초기화면으로 돌아가기 </a>
